@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Barlow", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1B0052 !important;
  background-position: center;
  background-repeat: repeat;
  overflow-x: hidden;
}


/* footer */



footer {
  background-color: #0c0d0eaf;
}

@media screen {
  .btn {
    margin: 15px;
    font-size: 11px;
  }
}

.icon i {
  margin-right: 30px;
  font-size: 30px;
}

.support a {
  text-decoration: none;
}

.text {
  color: white;
}

footer {
  background: url("footer-bg.jpg");
  width: auto;
  height: 100%;
  background-position: center center;
  background-size: cover;
}

.logo-footer {
  width: auto;
  height: 50px;

}


/* Home page */

#hero-section {
  background-image: url("/hero-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0c0d0eaf;
  overflow: hidden;
  width: auto;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: start;
}

#wrapper {
  float: left;
  width: 800px;
}

#divider {
  background-image: url("/divider.png");
  background-size: cover;
  position: absolute;
  left: 0;
  bottom: -2px;
  right: 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
  z-index: 3;
}

#intro-section {
  background-image: url("/esports-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0c0d0eaf;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  display: flex;
  z-index: -1;
  padding: 0;
  margin: 0;
  text-align: center;
}

.card-container {
  width: 300px !important;
  height: 300px !important;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.steps {
  width: 100% !important;
  height: 100% !important;
  border-radius: inherit !important;
}

.card .front-content {
  width: 100% !important;
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .front-content p {
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  -webkit-transform: translateY(96%);
  -ms-transform: translateY(96%);
  transform: translateY(96%);
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.card:hover .content {
  -webkit-transform: translateY(1);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.card:hover .front-content {
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
}

.card:hover .front-content p {
  opacity: 0;
}




/* Navbar Section */
.logo {
  height: 50px;
  width: 100%;
}

.navbar {
  background-color: #120036;
}

a, button,
.nav-item {
  color: white !important;
  font-weight: 600;
}

button {
  background: #E4504E;
  background-image: -webkit-linear-gradient(top, #E4504E, #7C196C);
  background-image: -moz-linear-gradient(top, #E4504E, #7C196C);
  background-image: -ms-linear-gradient(top, #E4504E, #7C196C);
  background-image: -o-linear-gradient(top, #E4504E, #7C196C);
  background-image: linear-gradient(to bottom, #E4504E, #7C196C);
}

button:hover {
  background: #E4504E;
  background-image: -webkit-linear-gradient(top, #E4504E, #E4504E);
  background-image: -moz-linear-gradient(top, #E4504E, #E4504E);
  background-image: -ms-linear-gradient(top, #E4504E, #E4504E);
  background-image: -o-linear-gradient(top, #E4504E, #E4504E);
  background-image: linear-gradient(to bottom, #E4504E, #E4504E);
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  margin-right: auto;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-right {
  margin-left: auto;
}



/* Login section */

#LogIn_Form {
  margin: 10vw 15vw 10vw 15vw;
  border-color: aliceblue !important;
  border: solid;
  border-radius: 10%;

}

/* About Section */
#hero-pages {
  background-image: url("/breadcumb-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 50vh;
  width: 100%;
  padding: 3%;
  margin: 0;
}

#about-wrapper {
  text-align: start;

}

.about_btn {
  padding: 2vw 5vw 2vw 5vw;
  width: 40vh;
}

.about_img_card {
  width: 300px !important;
}

.about_card {
  width: 350px !important;
  background-color: #0F002E !important;
  color: white !important;
}

.about_logo {
  color: rgb(255, 255, 255) !important;
}

