@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Barlow", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1B0052 !important;
  background-position: center;
  background-repeat: repeat;
  overflow-x: hidden;
}


/* footer */



footer{
  background-color: #0c0d0eaf;
}

@media screen {
  .btn {
    margin: 15px;
    font-size: 11px;
  }
}

.icon i {
  margin-right: 30px;
  font-size: 30px;
}

.support a {
  text-decoration: none;
}

.text{
  color:white;
}

footer {
  background: url("footer-bg.jpg");
  width: auto;
  height: 50vh;
  background-position: center;
  background-clip: border-box;
}

.logo-footer {
  width: auto;
  height: 50px;

}




/* Navbar Section */
.logo {
  height: 50px;
  width: 100%;
}

.navbar {
  background-color: #0F002E;
}

a, button, .nav-item {
  color: white!important;
  font-weight: 600;
}

button {
  background: #FA00FF;
  background-image: -webkit-linear-gradient(top, #FA00FF, #00FFFF);
  background-image: -moz-linear-gradient(top, #FA00FF, #00FFFF);
  background-image: -ms-linear-gradient(top, #FA00FF, #00FFFF);
  background-image: -o-linear-gradient(top, #FA00FF, #00FFFF);
  background-image: linear-gradient(to bottom, #FA00FF, #00FFFF);
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  margin-right: auto;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-right {
  margin-left: auto;
}



/* Login section */

#LogIn_Form {
  margin: 10vw 15vw 10vw 15vw;
  border-color: aliceblue !important;
  border: solid;
  border-radius: 10%;
  
}
