@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Barlow", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1B0052 !important;
  background-position: center;
  background-repeat: repeat;
  overflow-x: hidden;
}


/* footer */



footer {
  background-color: #0c0d0eaf;
}

@media screen {
  .btn {
    margin: 15px;
    font-size: 11px;
  }
}

.icon i {
  margin-right: 30px;
  font-size: 30px;
}

.support a {
  text-decoration: none;
}

.text {
  color: white;
}

footer {
  background: url("footer-bg.jpg");
  width: auto;
  height: 100%;
  background-position: center center;
  background-size: cover;
}

.logo-footer {
  width: auto;
  height: 50px;

}


/* Home page */

#hero-section {
  background-image: url("/hero-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0c0d0eaf;
  overflow: hidden;
  width: auto;
  height: 90vh;
}



#divider {
  background-image: url("/divider.png");
  background-size: cover;
  position: absolute;
  left: 0;
  bottom: -5px;
  right: 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
  z-index: 10;
}

#intro-section {
  background-image: url("/esports-img4.png");
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  width: 100% max-content;
  height: clip_height;
  z-index: -1;
  padding: 0;
  margin: 0;
  text-align: center;
}

.marquee {
  overflow: hidden;
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  min-width: 100%;
  animation: scrolling 15s linear infinite !important;
}

.marquee-item {
  flex: 0 0 16vw;
  margin: 0 1vw;
  white-space: nowrap;
  /*   flex: 0 0 20vw;
   margin: 0 2vw; */
}

.marquee-item img {
  display: block;
  width: 100%;
  /*   padding: 0 20px; */
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translatex(-144vw);
  }
}

#divider2 {
  background-image: url("/divider.png");
  background-size: cover;
  position: absolute center;
  margin-top: -300px;
  left: 0;
  right: 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
  z-index: 10;
}

#icons {
  font-size: 60px !important;
  border: solid 5px #E4504E;
  border-radius: 50%;
  padding: 50px;
}

#icons:hover {
  transform: translateY(-6px);
  transition: .4s ease-in-out;
}

#how-it-works {
  background-image: url("/how-bg.png");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: auto;
  z-index: 9;
}

#card-step:hover {
  border-radius: 10px;
  background-color: #0d0027;
  box-shadow: #030008 30px;
}




/* Navbar Section */
.logo {
  height: 50px;
  width: 100%;
}

.navbar {
  background-color: #120036;
}

a,
button,
.nav-item {
  color: white !important;
  font-weight: 600;
}

button {
  background: #E4504E;
  border: solid 3px #E4504E;
  background-image: -webkit-linear-gradient(top, #E4504E, #7C196C);
  background-image: -moz-linear-gradient(top, #E4504E, #7C196C);
  background-image: -ms-linear-gradient(top, #E4504E, #7C196C);
  background-image: -o-linear-gradient(top, #E4504E, #7C196C);
  background-color: linear-gradient(to bottom, #E4504E, #7C196C);
}

button:hover {
  background: #E4504E;
  background-image: -webkit-linear-gradient(top, #E4504E, #E4504E);
  background-image: -moz-linear-gradient(top, #E4504E, #E4504E);
  background-image: -ms-linear-gradient(top, #E4504E, #E4504E);
  background-image: -o-linear-gradient(top, #E4504E, #E4504E);
  background-image: linear-gradient(to bottom, #E4504E, #E4504E);
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  margin-right: auto;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-right {
  margin-left: auto;
}



/* Login section */

#LogIn_Form {
  margin: 10vw 15vw 10vw 15vw;
  border-color: aliceblue !important;
  border: solid;
  border-radius: 10%;

}

/* About Section */
#hero-pages {
  background-image: url("/breadcumb-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 50vh;
  width: 100%;
  padding: 3%;
  margin: 0;
}

#about-wrapper {
  text-align: start;

}

.about_btn {
  padding: 2vw 5vw 2vw 5vw;
  width: 40vh;
}

.about_img_card {
  width: 300px !important;
}

.about_card {
  width: 350px !important;
  background-color: #0F002E !important;
  color: white !important;
}

.about_logo {
  color: rgb(255, 255, 255) !important;
}

/* Registration Page */

.registration_radio {
  padding: 1vw 32vw;
}